Repository Samourai-Wallet/samourai-dojo, pull requests merged in 2019-08, with the labels that each got.

#43 Add missing `d` in `docker-bitcoind.conf`
  doc/DOCKER_setup.md
Labels: documentation

#46 add testnet support to my-dojo
  doc/DOCKER_advanced_setups.md
  doc/DOCKER_setup.md
  docker/my-dojo/.env
  docker/my-dojo/bitcoin/restart.sh
  docker/my-dojo/conf/docker-common.conf.tpl
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/dojo.sh
  docker/my-dojo/install/install-scripts.sh
  docker/my-dojo/install/upgrade-scripts.sh
  docker/my-dojo/nginx/mainnet.conf
  docker/my-dojo/nginx/testnet.conf
  docker/my-dojo/node/keys.index.js
  docker/my-dojo/node/restart.sh
  docker/my-dojo/overrides/bitcoind.install.yaml
  static/admin/conf/index-mainnet.js
  static/admin/conf/index-testnet.js
Labels: dev env, enhancement, my-dojo

#49 add support of auth token passed through the authorization http header
  doc/DELETE_xpub.md
  doc/GET_fees.md
  doc/GET_header.md
  doc/GET_multiaddr.md
  doc/GET_tx.md
  doc/GET_txs.md
  doc/GET_unspent.md
  doc/GET_xpub.md
  doc/POST_auth_login.md
  doc/POST_auth_refresh.md
  doc/POST_pushtx.md
  doc/POST_xpub.md
  doc/POST_xpub_lock.md
  lib/auth/authorizations-manager.js
Labels: enhancement

#54 remove /dump/heap endpoint and dependency on heapdump package
  accounts/support-rest-api.js
  package-lock.json
  package.json
Labels: enhancement

#55 upgrade bitcoind to bitcoin core 0.18.1
  docker/my-dojo/bitcoin/Dockerfile
Labels: enhancement, my-dojo

#60 fix for #59
  docker/my-dojo/dojo.sh
Labels: bug, my-dojo
