Repository Samourai-Wallet/samourai-dojo, pull requests merged in 2019-09, with the labels that each got.

#71 Update to use latest bitcoinjs
  lib/bitcoin/addresses-helper.js
  lib/bitcoin/hd-accounts-helper.js
  lib/bitcoin/parallel-address-derivation.js
  package-lock.json
  package.json
Labels: enhancement

#74 adding bridge support to tor-container
  doc/DOCKER_advanced_setups.md
  doc/DOCKER_setup.md
  docker/my-dojo/.env
  docker/my-dojo/conf/docker-tor.conf.tpl
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/install/install-scripts.sh
  docker/my-dojo/install/upgrade-scripts.sh
  docker/my-dojo/tor/Dockerfile
  docker/my-dojo/tor/restart.sh
  docker/my-dojo/tor/torrc
Labels: enhancement, my-dojo

#79 retry to send sql requests on detection of a lock
  lib/db/mysql-db-wrapper.js
Labels: bug

#80 add support of blocks rescans in the maintenance tool
  docker/my-dojo/.env
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/nginx/mainnet.conf
  docker/my-dojo/nginx/testnet.conf
  docker/my-dojo/node/keys.index.js
  keys/index-example.js
  static/admin/lib/api-wrapper.js
  static/admin/tool/index.html
  static/admin/tool/index.js
  tracker/blockchain-processor.js
  tracker/index.js
  tracker/tracker-rest-api.js
Labels: enhancement, maintenance tool, my-dojo
