Repository Samourai-Wallet/samourai-dojo, pull requests merged in 2019-12, with the labels that each got.

#99 Doc: installation of Dojo on Synology
  doc/DOCKER_setup.md
  doc/DOCKER_synology_setup.md
  doc/static/synology_containers.png
  doc/static/synology_docker-package.png
  doc/static/synology_install_complete.png
Labels: documentation, my-dojo

#100 fix issue caused by sed -i on osx
  docker/my-dojo/install/upgrade-scripts.sh
Labels: bug, my-dojo

#101 add --auto and --nolog options to install and upgrade commands
  docker/my-dojo/dojo.sh
Labels: enhancement, my-dojo

#102 improve performances of transactions imports
  lib/bitcoind-rpc/rpc-client.js
  lib/bitcoind-rpc/transactions.js
  lib/db/mysql-db-wrapper.js
  lib/remote-importer/remote-importer.js
  lib/remote-importer/sources.js
  lib/util.js
Labels: enhancement

#107 add optional block explorer
  accounts/support-rest-api.js
  doc/DOCKER_setup.md
  docker/my-dojo/.env
  docker/my-dojo/conf/docker-explorer.conf.tpl
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/dojo.sh
  docker/my-dojo/explorer/Dockerfile
  docker/my-dojo/explorer/restart.sh
  docker/my-dojo/install/install-scripts.sh
  docker/my-dojo/install/upgrade-scripts.sh
  docker/my-dojo/nginx/Dockerfile
  docker/my-dojo/nginx/explorer.conf
  docker/my-dojo/node/Dockerfile
  docker/my-dojo/overrides/explorer.install.yaml
  docker/my-dojo/tor/restart.sh
  static/admin/css/style.css
  static/admin/lib/api-wrapper.js
  static/admin/tool/index.html
  static/admin/tool/index.js
Labels: enhancement, my-dojo

#108 switch restart policies of containers to always
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/overrides/explorer.install.yaml
Labels: enhancement, my-dojo

#109 use port 80 of keyservers
  docker/my-dojo/.env
  docker/my-dojo/bitcoin/Dockerfile
  docker/my-dojo/tor/Dockerfile
Labels: enhancement, my-dojo

#110 replace keyserver
  docker/my-dojo/tor/Dockerfile
Labels: enhancement, my-dojo

#111 enable autostart of dojo
  docker/my-dojo/bitcoin/restart.sh
  docker/my-dojo/dojo.sh
  docker/my-dojo/overrides/bitcoind.install.yaml
Labels: enhancement, my-dojo

#112 set group permissions for hsv3explorer directory
  docker/my-dojo/tor/restart.sh
Labels: bug, my-dojo

#113 check if dojo is running (start and stop commands)
  docker/my-dojo/dojo.sh
Labels: enhancement, my-dojo
