Repository Samourai-Wallet/samourai-dojo, pull requests merged in 2019-06, with the labels that each got.

#1 my-dojo upgrade mechanism
  db-scripts/1_db.sql.tpl
  db-scripts/2_update.sql.tpl
  doc/DOCKER_setup.md
  docker/my-dojo/.env
  docker/my-dojo/conf/docker-bitcoind.conf.tpl
  docker/my-dojo/conf/docker-mysql.conf.tpl
  docker/my-dojo/conf/docker-node.conf.tpl
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/dojo.sh
  docker/my-dojo/install/install-scripts.sh
  docker/my-dojo/install/upgrade-scripts.sh
  docker/my-dojo/mysql/Dockerfile
  docker/my-dojo/mysql/update-db.sh
Labels: enhancement, my-dojo

#5 mydojo - install nodejs
  .gitignore
  docker/my-dojo/node/Dockerfile
  package-lock.json
Labels: enhancement, my-dojo, security

#10 add an option allowing to run dojo on top of an external bitcoind
  doc/DOCKER_advanced_setups.md
  doc/DOCKER_setup.md
  docker/my-dojo/conf/docker-bitcoind.conf.tpl
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/dojo.sh
  docker/my-dojo/node/keys.index.js
  docker/my-dojo/overrides/bitcoind.install.yaml
Labels: enhancement, my-dojo

#11 clean-up
  doc/DOCKER_setup.md
  docker/my-dojo/dojo.sh
  docker/my-dojo/install/upgrade-scripts.sh
Labels: enhancement, my-dojo

#12 extend support of external apps
  doc/DOCKER_advanced_setups.md
  docker/my-dojo/bitcoin/restart.sh
  docker/my-dojo/conf/docker-bitcoind.conf.tpl
  docker/my-dojo/overrides/bitcoind.rpc.expose.yaml
Labels: enhancement, my-dojo

#15 fix issue #14
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/dojo.sh
  docker/my-dojo/overrides/bitcoind.install.yaml
Labels: my-dojo

#13 Included Mac instructions
  doc/DOCKER_mac_setup.MD
Labels: documentation, my-dojo

#19 fix bitcoind port in torrc
  docker/my-dojo/tor/torrc
Labels: bug, my-dojo

#20 increase nginx timeout
  docker/my-dojo/nginx/nginx.conf
Labels: enhancement, my-dojo
