Repository Samourai-Wallet/samourai-dojo, pull requests merged in 2020-04, with the labels that each got.

#137 improved instructions related to config files
  doc/DOCKER_advanced_setups.md
Labels: documentation, my-dojo

#138 merge develop into master for v1.5.0
  .dockerignore
  README.md
  RELEASES.md
  doc/DOCKER_advanced_setups.md
  doc/DOCKER_setup.md
  docker/my-dojo/.env
  docker/my-dojo/bitcoin/Dockerfile
  docker/my-dojo/conf/docker-indexer.conf.tpl
  docker/my-dojo/conf/docker-mysql.conf.tpl
  docker/my-dojo/conf/docker-node.conf.tpl
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/dojo.sh
  docker/my-dojo/explorer/Dockerfile
  docker/my-dojo/explorer/restart.sh
  docker/my-dojo/indexer/Dockerfile
  docker/my-dojo/indexer/restart.sh
  docker/my-dojo/indexer/wait-for-it.sh
  docker/my-dojo/install/install-scripts.sh
  docker/my-dojo/install/uninstall-scripts.sh
  docker/my-dojo/install/upgrade-scripts.sh
  docker/my-dojo/node/Dockerfile
  docker/my-dojo/node/keys.index.js
  docker/my-dojo/overrides/explorer.install.yaml
  docker/my-dojo/overrides/indexer.install.yaml
  docker/my-dojo/tor/Dockerfile
  lib/db/mysql-db-wrapper.js
  package-lock.json
  package.json
Labels: my-dojo

#139 Update Synoogy documentation
  doc/DOCKER_synology_setup.md
Labels: documentation, my-dojo

#142 modify results returned by dojo.sh onion
  docker/my-dojo/dojo.sh
Labels: enhancement, my-dojo

#143 improve display of dojo version
  docker/my-dojo/node/keys.index.js
  keys/index-example.js
  static/admin/tool/index.html
  static/admin/tool/index.js
Labels: enhancement, maintenance tool, my-dojo

#128 Drop unneeded reverseBuffer util method
  lib/remote-importer/local-indexer-wrapper.js
  lib/util.js
Labels: enhancement

#144 add dynamic switch of startup mode
  tracker/blockchain-processor.js
Labels: enhancement

#146 Fix misleading docs for POST_pushtx
  doc/POST_pushtx.md
Labels: documentation

#147 increase control over ports exposed by dojo
  accounts/index.js
  docker/my-dojo/.env
  docker/my-dojo/node/keys.index.js
  keys/index-example.js
  lib/http-server/http-server.js
  package-lock.json
  package.json
  pushtx/index-orchestrator.js
  pushtx/index.js
  tracker/index.js
  tracker/tracker.js
Labels: enhancement, my-dojo, security

#148 upgrade explorer to btc-rpc-explorer 2.0.0
  docker/my-dojo/.env
  docker/my-dojo/explorer/Dockerfile
  docker/my-dojo/explorer/restart.sh
Labels: enhancement, my-dojo

#150 define a floor for tracker normal mode
  tracker/blockchain-processor.js
Labels: bug

#149 upgrade tor to v0.4.2.7
  docker/my-dojo/.env
  docker/my-dojo/tor/Dockerfile
Labels: enhancement, my-dojo

#152 add new optional whirlpool container
  doc/DOCKER_advanced_setups.md
  doc/DOCKER_setup.md
  docker/my-dojo/.env
  docker/my-dojo/conf/docker-whirlpool.conf.tpl
  docker/my-dojo/docker-compose.yaml
  docker/my-dojo/dojo.sh
  docker/my-dojo/install/install-scripts.sh
  docker/my-dojo/install/upgrade-scripts.sh
  docker/my-dojo/nginx/Dockerfile
  docker/my-dojo/nginx/whirlpool.conf
  docker/my-dojo/overrides/whirlpool.install.yaml
  docker/my-dojo/tor/restart.sh
  docker/my-dojo/whirlpool/Dockerfile
  docker/my-dojo/whirlpool/restart.sh
Labels: enhancement, my-dojo

#153 Fix typo in install scripts causing a copy error when installing or upgrading
  docker/my-dojo/install/install-scripts.sh
  docker/my-dojo/install/upgrade-scripts.sh
Labels: bug, my-dojo
